$col-colour-1: #1C5A7C;
$col-colour-2: #106354;
$col-colour-3: #54117D;
$col-colour-4: #71441B;
$col-colour-5: #6E6D6D;
$col-colour-default: gray;

$bg-col-colour: #F8F8F9;
$col-border: 1px solid #E4E4E4;
$col-win-width: 346px;

$kanban-title-col: #2B3744;

$col-title-txt: #FFFFFF;

$font-headline: 'SF Pro Display', sans-serif;
$font-text: 'SF Pro Text', sans-serif;
